/*configuração básica do arquivo html para excluir as bordas*/
* {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*configuração básica do header */
header{
    display: flex;
    background-color: #142236;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}

/*dimensionamento do logotipo no header*/
#logo{
    width: 350px;
}

/*container com todos os botões do header configurado para distribuir corretamente os elementos*/
.buttons-header{
    display: flex;
    width: 700px;
    justify-content: space-around;
}

/*estilização do botão de anúncio*/
#anuncie-button{
    font-size: 15px;
    border-radius: 100px 25px;
    padding: 30px;
    border: 0;
    background-color: rgb(0, 255, 191);
    color: #142236;
    transition: all 0.5s ease;
}

#anuncie-button:hover{
    background-color: rgba(235, 232, 232, 0.918);
    border-radius: 25px 100px;
}



/*display flex do container com os botões de cadastro e login para que o "separador" apareça*/
#container-reg-log{
    display: flex;
}

/*dimensionamento dos botões de cadastro e login*/
.reg-log-button{
    font-size: 15px;
}


/*configuração do botão de cadastro para criar o separador*/
#reg-button{
    border-top: 0;
    border-right: 1pt solid rgba(235, 232, 232, 0.918);
    border-bottom: 0;
    border-left: 0;
    border-bottom-left-radius: 25px;
    background-color: #142236;
    color: whitesmoke;
    padding-right: 0px;
    text-justify: center;
    width: 230px;
    transition: all 0.5s ease;
}

/*estilização do hover do botão de cadastro*/
#reg-button:hover{
    background-color: rgba(235, 232, 232, 0.918) ;
    color: #142236;
}

/*configuração do botão de login para criar o separador*/
#log-button{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1pt solid rgba(235, 232, 232, 0.918);
    border-top-right-radius: 25px;
    background-color: #142236;
    color: whitesmoke;
    width: 150px;
    transition: all 0.5s ease;
}

/*estilização do hover do botão de login*/
#log-button:hover{
    background-color: rgba(235, 232, 232, 0.918) ;
    color: #142236;
}

/*configuração básica da div main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*configuração da seção 1*/
#section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    justify-items: center;
}

/*estilização dos menus flutuantes*/
.menu-flutuante{
    font-size: 30px;
    width: 300px;
    text-align-last: center;
    border: 0;
    transition: all 0.2s ease;
    height: 100px;
}

.menu-flutuante:hover{
    background-color: rgb(0, 255, 191);
    border-radius: 10px;
}

#buscar-button{
    font-size: 15px;
    border-radius: 100px 25px;
    padding: 30px;
    border: 0;
    background-color: rgb(0, 255, 191);
    color: #142236;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 180px
}

#buscar-button:hover{
    background-color: #142236;
    color: whitesmoke;
    border-radius: 25px 100px;
}


/* seçao de buscas populares */

.results-row {
    display: flex;
}

/* card de imoveis */

.results-card {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 275px;
    overflow: hidden;
}

.results-card img {
    width: 300px;
    min-height: 150px;
    align-self: center;
}

.results-card-text {
    display: flex;
    flex-direction: column;
    height: 140px;
    padding: 0 10px;
}

.realty-type {
    font-size: 0.75rem;
    font-weight: 550;
    color:rgb(75, 75, 75);
    margin: 10px 0 15px 0;
}

.realty-street {
    font-weight: bold;
    font-size: 1.2rem;
}

.realty-adress {
    font-weight: 600;
    font-size: 0.9rem;
    color:rgb(75, 75, 75);
}

.realty-price {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
    color:rgb(50, 50, 50);
}

/* animação sombra hover */

.results-card:hover{
    animation: shadow-hover 0.2s;
    animation-fill-mode: forwards;
}

@keyframes shadow-hover {
    from {box-shadow: 0;}
    to {box-shadow: 0 4px  4px rgb(206, 206, 206);}
}



